// Повторювальний блок контактів
.contact-screen(id="contact-screen")
  .contact-screen__bg
    img(src="./assets/images/contact-screen-bg.jpg", alt="", srcset="" loading="lazy")
  .contact-screen__content
    .contact-screen__left
      .contact-screen__left-title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-white-light(data-split-lines-new-animation) Контакти
      .contact-screen__left-info
        .contact-screen__group
          .contact-screen__group-title.text-style-1920-h-6 ОФІС ПРОДАЖІВ:
          .contact-screen__group-text м. Івано-Франківськ, вул. Мазепи, 144Д
          a(href="http://google.com", target="_blank", rel="noopener noreferrer").button-small
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3555 5C13.6652 5 15.7109 6.45298 15.7109 9.22656C15.7109 9.80769 15.403 10.6576 15.249 11.0098L11.3555 19L7.46191 11.0098C7.30794 10.6576 7.00005 9.80769 7 9.22656C7 6.453 9.04573 5.00002 11.3555 5ZM11.3545 7.48828C10.3239 7.48853 9.48853 8.32392 9.48828 9.35449C9.48828 10.3853 10.3238 11.2214 11.3545 11.2217C12.3854 11.2217 13.2217 10.3854 13.2217 9.35449C13.2214 8.32377 12.3853 7.48828 11.3545 7.48828Z" fill="#808060"/>
            </svg>
            span Відкрити на Google Maps
        .contact-screen__group
          .contact-screen__group-title.text-style-1920-h-6 АДРЕСА ОБʼЄКТА:
          .contact-screen__group-text с. Глібівка, Вишгородський район, Київська обл.
          a(href="http://google.com", target="_blank", rel="noopener noreferrer").button-small
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3555 5C13.6652 5 15.7109 6.45298 15.7109 9.22656C15.7109 9.80769 15.403 10.6576 15.249 11.0098L11.3555 19L7.46191 11.0098C7.30794 10.6576 7.00005 9.80769 7 9.22656C7 6.453 9.04573 5.00002 11.3555 5ZM11.3545 7.48828C10.3239 7.48853 9.48853 8.32392 9.48828 9.35449C9.48828 10.3853 10.3238 11.2214 11.3545 11.2217C12.3854 11.2217 13.2217 10.3854 13.2217 9.35449C13.2214 8.32377 12.3853 7.48828 11.3545 7.48828Z" fill="#808060"/>
            </svg>

            span Відкрити на Google Maps
        .contact-screen__group
          .contact-screen__inner-group
            .contact-screen__group-title.text-style-1920-h-6 ТЕЛЕФОН ОФІСУ ПРОДАЖІВ:
            a(href="tel:+380671716823", target="_blank", rel="noopener noreferrer").contact-screen__link  
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.6079 7.75956e-05C1.38461 0.000289462 1.16373 0.0467835 0.959465 0.136796C0.75515 0.226865 0.571969 0.358881 0.421379 0.523515C0.270785 0.68816 0.155763 0.882561 0.084465 1.09383C0.01332 1.30486 -0.0127163 1.52832 0.00731659 1.75008C0.271374 4.23172 1.11752 6.6165 2.47704 8.71101C3.7121 10.6508 5.35965 12.2957 7.30322 13.5284C9.39244 14.8806 11.7711 15.7248 14.2466 15.9932C14.4696 16.0133 14.6946 15.9867 14.9067 15.9151C15.1189 15.8435 15.314 15.7283 15.479 15.5772C15.644 15.4261 15.776 15.2419 15.8657 15.0372C15.9553 14.8325 16.0004 14.6112 15.9995 14.3878V11.9796C16.0093 11.5858 15.8738 11.202 15.6186 10.9014C15.3636 10.6011 15.0072 10.4048 14.6167 10.3497C13.8444 10.248 13.0858 10.059 12.3559 9.78719C12.068 9.67916 11.7545 9.65577 11.4536 9.7198C11.153 9.78386 10.8773 9.93286 10.6587 10.1485L9.63622 11.168C7.62234 10.0251 5.9552 8.3606 4.81005 6.35066L5.83154 5.33113C6.04775 5.11286 6.19708 4.83737 6.26122 4.53719C6.32538 4.23694 6.30207 3.92416 6.19384 3.6368C5.92153 2.90843 5.73222 2.15168 5.63036 1.38094C5.57571 0.995288 5.38225 0.642772 5.08642 0.388749C4.7904 0.134674 4.41141 -0.00375733 4.02099 7.75956e-05H1.6079Z" fill="#0A0F13"/>
              </svg>
              span +380 67 17 16 823
          .contact-screen__inner-group
            .contact-screen__group-title.text-style-1920-h-6 EMAIL:
            a(href="mailto:sales@dzen-residence.com", target="_blank", rel="noopener noreferrer").contact-screen__link
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0390625 3.17285C0.0137901 3.27827 0 3.38769 0 3.5V12.5C0 13.3249 0.719787 13.9998 1.59961 14H14.4004C15.2802 13.9998 16 13.3249 16 12.5V3.5C16 3.38761 15.9853 3.27834 15.96 3.17285L8.49414 9.70703C8.21146 9.95436 7.7896 9.95422 7.50684 9.70703L0.0390625 3.17285ZM1.59961 2C1.41532 2.00004 1.23834 2.03054 1.07324 2.08496L8 8.14551L14.9258 2.08496C14.7609 2.03072 14.5843 2.00004 14.4004 2H1.59961Z" fill="#0A0F13"/>
              </svg>
              span sales@dzen-residence.com
        .contact-screen__group
          .contact-screen__group-title.contact-screen__group-mobile-bigger-margin-title.text-style-1920-h-6 НАШІ СОЦМЕРЕЖІ:
          a(href="http://instagram.com", target="_blank", rel="noopener noreferrer").button-small
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0029 5C13.8266 5 14.0609 5.00758 14.7861 5.04199C15.5268 5.07472 16.0452 5.19588 16.5039 5.37305C16.9871 5.55507 17.4272 5.84158 17.791 6.20996L17.5898 6.41504L17.7949 6.21387L17.9287 6.35156C18.2354 6.68652 18.4731 7.07577 18.6348 7.50293C18.8123 7.95976 18.9331 8.48117 18.9658 9.22168C18.9976 9.9447 19 10.179 19 12.001C19 13.8248 18.9917 14.0584 18.96 14.7803C18.9273 15.5218 18.8062 16.041 18.6289 16.5C18.2508 17.4776 17.4778 18.2508 16.5 18.6289C16.043 18.8066 15.5214 18.9273 14.7803 18.96C14.0579 18.9918 13.8245 19 12 19C10.1756 19 9.94201 18.9918 9.21973 18.96C8.47871 18.9273 7.95983 18.8071 7.50098 18.6299C7.01702 18.4475 6.57606 18.1603 6.21191 17.791L6.21387 17.792L6.41602 17.5869L6.21094 17.7891L6.21191 17.791C5.84283 17.4272 5.55621 16.989 5.37109 16.5C5.1936 16.0433 5.07273 15.5217 5.04004 14.7812C5.00831 14.059 5 13.8251 5 12.001C5 10.1776 5.00757 9.9438 5.04199 9.21875C5.0747 8.47806 5.19585 7.95971 5.37305 7.50098C5.53264 7.07775 5.77237 6.6874 6.07715 6.35254L6.20996 6.21387L6.41602 6.41504L6.21387 6.20996C6.57831 5.83827 7.01646 5.55447 7.50391 5.37012C7.9606 5.19283 8.48212 5.07269 9.22266 5.04004C9.945 5.00832 10.1784 5 12.0029 5ZM11.999 8.68359C10.1687 8.68379 8.68379 10.1687 8.68359 11.999C8.68359 13.8296 10.1686 15.3152 11.999 15.3154C13.8297 15.3154 15.3154 13.8297 15.3154 11.999C15.3152 10.1685 13.8296 8.68359 11.999 8.68359ZM16.0527 6.47266C15.239 6.47266 14.5791 7.1323 14.5791 7.94629C14.5791 8.76013 15.2389 9.41992 16.0527 9.41992C16.8666 9.41991 17.5264 8.76015 17.5264 7.94629C17.5263 7.13228 16.8666 6.47267 16.0527 6.47266Z" fill="#808060"/>
            </svg>
            span INSTAGRAM
          a(href="http://facebook.com", target="_blank", rel="noopener noreferrer").button-small
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M14.722 7.32458H16V5.09858C15.7795 5.06825 15.0212 5 14.1382 5C12.2956 5 11.0333 6.15908 11.0333 8.28942V10.25H9V12.7385H11.0333V19H13.5263V12.7391H15.4774L15.7871 10.2506H13.5257V8.53617C13.5263 7.81692 13.7199 7.32458 14.722 7.32458Z" fill="#808060"/>
            </svg>
            span facebook
          a(href="http://youtube.com", target="_blank", rel="noopener noreferrer").button-small
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0029 6C12.0452 6.00019 15.233 6.0208 17.3447 6.17285L17.3721 6.17578C17.3959 6.17892 17.4231 6.18228 17.4521 6.18555C17.8032 6.22509 18.5323 6.30807 19.1758 6.98633C19.7327 7.56327 19.8683 8.69767 19.8818 8.8252V8.83203C19.8866 8.88522 19.9999 10.1488 20 11.417V12.6025C20 13.8683 19.887 15.1289 19.8818 15.1865L19.8809 15.2031C19.8652 15.3277 19.7111 16.4379 19.1807 17.0088C18.5442 17.7021 17.8264 17.7772 17.4814 17.8135C17.4485 17.8169 17.4183 17.8207 17.3916 17.8242L17.3633 17.8271C15.2534 17.979 12.0703 17.9998 12.0225 18H12.0127C11.8504 17.9977 8.02143 17.9412 6.7998 17.8262L6.7627 17.8203C6.72455 17.8137 6.66845 17.8081 6.60352 17.8008C6.1919 17.7541 5.42651 17.6666 4.82129 17.0107C4.26752 16.434 4.13189 15.3222 4.11816 15.1953L4.11719 15.1865C4.1118 15.1263 4.00001 13.8669 4 12.6025V11.417C4 10.1488 4.11243 8.8851 4.11719 8.83203L4.11914 8.81641C4.13489 8.69166 4.28894 7.58151 4.81934 7.01074C5.46474 6.30777 6.18624 6.2252 6.5332 6.18555C6.56042 6.1824 6.58569 6.1788 6.6084 6.17578L6.63672 6.17285C8.7697 6.02066 11.9613 6.00015 11.9971 6H12.0029ZM10.8301 9.60645C10.6161 9.49968 10.363 9.50369 10.1533 9.61719C9.94342 9.7309 9.81836 9.93237 9.81836 10.1553V13.8447C9.81836 14.0666 9.94291 14.267 10.1514 14.3809C10.2603 14.4403 10.381 14.4707 10.502 14.4707C10.6128 14.4707 10.724 14.4458 10.8262 14.3955L14.5488 12.5664C14.7697 12.4578 14.908 12.2478 14.9092 12.0186C14.9101 11.7892 14.774 11.578 14.5537 11.4678L10.8301 9.60645Z" fill="#808060"/>
            </svg>
            span YOUTUBE
          a(href="http://tiktok.com", target="_blank", rel="noopener noreferrer").button-small
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5056 7.9941C16.4122 7.94526 16.3212 7.89173 16.2331 7.83369C15.9767 7.66233 15.7417 7.46042 15.533 7.23231C15.011 6.62829 14.816 6.01553 14.7442 5.58651H14.7471C14.6871 5.23041 14.7119 5 14.7156 5H12.3378V14.2973C12.3378 14.4221 12.3378 14.5455 12.3326 14.6674C12.3326 14.6826 12.3311 14.6966 12.3303 14.7129C12.3303 14.7196 12.3303 14.7266 12.3288 14.7336C12.3288 14.7353 12.3288 14.7371 12.3288 14.7388C12.3038 15.0724 12.198 15.3947 12.0209 15.6772C11.8437 15.9598 11.6006 16.194 11.313 16.3593C11.0132 16.5317 10.6741 16.6222 10.3291 16.6218C9.22125 16.6218 8.32336 15.7083 8.32336 14.5802C8.32336 13.4521 9.22125 12.5386 10.3291 12.5386C10.5388 12.5384 10.7473 12.5718 10.9467 12.6375L10.9495 10.1894C10.3442 10.1103 9.72928 10.1589 9.14348 10.3322C8.55769 10.5055 8.01377 10.7997 7.54603 11.1961C7.13619 11.5562 6.79163 11.9859 6.52786 12.4657C6.42749 12.6407 6.04878 13.3439 6.00292 14.4851C5.97407 15.1329 6.16646 15.804 6.25818 16.0813V16.0872C6.31587 16.2505 6.5394 16.8078 6.90369 17.2777C7.19744 17.6546 7.5445 17.9857 7.93369 18.2603V18.2544L7.93946 18.2603C9.09059 19.0512 10.3669 18.9993 10.3669 18.9993C10.5878 18.9903 11.328 18.9993 12.1685 18.5965C13.1007 18.15 13.6314 17.4848 13.6314 17.4848C13.9704 17.0873 14.24 16.6343 14.4286 16.1452C14.6438 15.5733 14.7156 14.8873 14.7156 14.6131V9.68072C14.7445 9.69822 15.1286 9.95517 15.1286 9.95517C15.1286 9.95517 15.6822 10.3139 16.5457 10.5475C17.1653 10.7138 18 10.7488 18 10.7488V8.36187C17.7075 8.39396 17.1136 8.30063 16.5056 7.9941Z" fill="#808060"/>
            </svg>
            span TIK TOk

    .contact-screen__right
      .contact-screen__right-title.text-style-1920-h-2.color-white-light.text-style-768-h-2.text-style-375-h-2(data-split-lines-new-animation data-success-title="ДЯКУЄМО ЗА ЗВЕРНЕННЯ") Залишились запитання?
      .contact-screen__right-text(data-success-title="Ми зв’яжемось з вами через декілька хвилин") Ми готові дати відповідь!
      form(data-contact-screen-form).dzen-form
          .dzen-form__input-group(data-field-input data-field-name data-status="field--inactive")
            .dzen-form__input-group-title Ім’я
            <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="#0A0F13"/>
            </svg>
            input.dzen-form__input(type="text" placeholder="Ім’я" name="name")
            .dzen-form__input-message(data-input-message)
          .dzen-form__input-group(data-field-input data-field-phone data-status="field--inactive")
            <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="#0A0F13"/>
            </svg>
            .dzen-form__input-group-title Телефон
            input.dzen-form__input(type="text" placeholder="Телефон" name="phone")
            .dzen-form__input-message(data-input-message)
          button(type="submit" data-btn-submit).dzen-form__submit 
            span(data-btn-submit-text)
            span Надіслати повідомлення

// Повторювальний блок контактів END