@font-face {
	font-family: 'NAMU';
	font-display: swap;
	src: url('../fonts/namu/NAMU-1850.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NAMU';
	font-display: swap;
	src: url('../fonts/namu/NAMU-1750.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine/e-Ukraine-Thin.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine/e-Ukraine-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}