.screen2
  .screen2__content
    #benefits.screen2__left
      .screen2__title.text-style-1920-72.text-style-768-h-2.text-style-375-h-2(data-split-lines-new-animation) Що ви отримаєте?
      .screen2__left-group.screen2__left-group--wide
        .text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3(data-split-lines-new-animation) 25% ПЕРШИЙ ВНЕСОК
        div(data-split-lines-new-animation) Мінімальна сума інвестицій
      .screen2__left-group
        .text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3(data-split-lines-new-animation) ВІД 30% РІЧНИХ
        div(data-split-lines-new-animation) Прогнозована капіталізація
      .screen2__left-group
        .text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3(data-split-lines-new-animation) ВІД 12% РІЧНИХ
        div(data-split-lines-new-animation) Чистий річний прибуток
      .screen2__left-group
        .text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3(data-split-lines-new-animation) Кожен квартал
        div(data-split-lines-new-animation) Виплата девідендів
      .screen2__left-background(data-screen-2-bg)
        canvas(data-screen-2-canvas)
    .screen2__right
      .screen2__right-title.text-style-1920-72.text-style-768-h-2.text-style-375-h-2(data-split-lines-new-animation data-success-title="ДЯКУЄМО ЗА ЗВЕРНЕННЯ") ЗАмовити ПРЕЗЕНТАЦІЮ
      div(data-success-title="Ми зв’яжемось з вами через декілька хвилин") з генпланом і розрахунком дохідності
      form(data-screen2-form).dzen-form
        .dzen-form__input-group(data-field-input data-field-name data-status="field--inactive")
          <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="#0A0F13"/>
          </svg>
          input.dzen-form__input(type="text" placeholder="Ім’я" name="name")
          .dzen-form__input-message(data-input-message)
        .dzen-form__input-group(data-field-input data-field-phone data-status="field--inactive")
          <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="#0A0F13"/>
          </svg>
          input.dzen-form__input(type="text" placeholder="Телефон" name="phone")
          .dzen-form__input-message(data-input-message)
        button(type="submit" data-btn-submit).dzen-form__submit 
          span(data-btn-submit-text)
          span Надіслати повідомлення